/* Basic Globe Functions */
.radial {
  height: 200px;
  width: 60px;
  background-size: 60px 100px;
  top: -100px;
  left: 70px;
  background: url(../images/radial.jpg) no-repeat top center;
  transform-origin: 50% bottom;
  border-top: 2px solid cyan;
  box-sizing: border-box;
  display: block;
  position: absolute; }

.globe-contain {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #ccc;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px; }

.radial-0 {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }

.radial-45 {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.radial-90 {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.radial-135 {
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

.radial-180 {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.radial-225 {
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg); }

.radial-270 {
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.radial-315 {
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg); }

.radial-360 {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg); }

/*   Megan Functions    */
.btcf:after {
  content: "";
  display: table;
  clear: both; }

@keyframes grow {
  0% {
    margin-top: 200px;
    background-size: 0 0;
    height: 0; }
  100% {
    margin-top: 0;
    background-size: 60px 200px;
    height: 200px; } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes sway {
  100% {
    transform: rotate(5deg); } }
.megan {
  background: url(../images/meganGlobe.png);
  background-size: 200px 200px;
  animation: fadeIn .5s;
  /*.treeGroup1,.treeGroup2{transform-origin: center center;}
  .treeGroup1{
  	animation:sway 3s infinite alternate;
  }
  .treeGroup2{
  	animation:sway 2s infinite alternate;
  }*/ }
  .megan .radial {
    opacity: 0;
    background-image: url(../images/meganTree.png);
    border: none;
    animation: grow .75s forwards, fadeIn .75s .5s forwards;
    transition: all .5s; }
  .megan .radial-30 {
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg); }
  .megan .radial-75 {
    -moz-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -webkit-transform: rotate(75deg);
    transform: rotate(75deg); }
  .megan .radial-120 {
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg); }
  .megan .radial-165 {
    -moz-transform: rotate(165deg);
    -ms-transform: rotate(165deg);
    -webkit-transform: rotate(165deg);
    transform: rotate(165deg); }
  .megan .radial-210 {
    -moz-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg); }
  .megan .radial-255 {
    -moz-transform: rotate(255deg);
    -ms-transform: rotate(255deg);
    -webkit-transform: rotate(255deg);
    transform: rotate(255deg); }
  .megan .radial-300 {
    -moz-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg); }
  .megan .radial-345 {
    -moz-transform: rotate(345deg);
    -ms-transform: rotate(345deg);
    -webkit-transform: rotate(345deg);
    transform: rotate(345deg); }

/*# sourceMappingURL=globe-megan.css.map */
