///////////////////////////
/* Basic Globe Functions */

$globe-radius: 100px; // orb radius
$globe-containWidth: 2*$globe-radius; // orb diameter

//proportion desired for art - depends on art dimensions
$radial-artW: .6*($globe-radius); 
$radial-artH: 1*($globe-radius);

// centering the divs over orb
$radial-position: ($globe-containWidth - $radial-artW)/2;

$group1Rad: 45;
$group2Rad: 30;
$group3Rad: 24;

.radial{ 
	// size of artwork
	height:$radial-artH+$globe-radius;
	width:$radial-artW;
	// keeps artwork from overlapping circle
	background-size:$radial-artW $radial-artH;
	background-repeat:no-repeat;
	// Positions divs around globe - relative
	top:-$radial-artH;
	left: $radial-position;
	-webkit-transform-origin:50% bottom;-ms-transform-origin:50% bottom;transform-origin:50% bottom;
	box-sizing:border-box;
	// basic positioning within container
	display:block;
	position:absolute;
}

.globe-contain{
	// size of globe
	height:$globe-containWidth;
	width:$globe-containWidth;
	
	// sets the shape and color
	border-radius:50%;
	background:#ccc;

	// position on the page
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-$globe-containWidth/2;
	margin-top:-$globe-containWidth/2;
}

	$a: $group1Rad;
		
	@while $a <= 360 {
		.radial-#{$a} {
			-moz-transform: rotate($a+deg);
		    -ms-transform: rotate($a+deg); 
		    -webkit-transform: rotate($a+deg);
		    transform: rotate($a+deg);
		}
		$a: ($a + $group1Rad);
	}

///////////////////////////
/*   Megan Functions    */

.btcf:after {
    content:"";
    display:table;
    clear:both;
}

@-webkit-keyframes grow {
	0%{margin-top:2*($radial-artH);background-size:0 0;height:0;}
	100%{margin-top:0;background-size:$radial-artW $radial-artH;height:2*($radial-artH);}
}
@keyframes grow {
	0%{margin-top:2*($radial-artH);background-size:0 0;height:0;}
	100%{margin-top:0;background-size:$radial-artW $radial-artH;height:2*($radial-artH);}
}
@-webkit-keyframes fadeIn {
	0%{opacity:0;filter:alpha(opacity=0);}
	100%{opacity:1;filter:alpha(opacity=100);}
}
@keyframes fadeIn {
	0%{opacity:0;filter:alpha(opacity=0);}
	100%{opacity:1;filter:alpha(opacity=100);}
}
@-webkit-keyframes sway {
	100%{-webkit-transform:rotate(5deg);transform:rotate(5deg);}
}
@keyframes sway {
	100%{-webkit-transform:rotate(5deg);transform:rotate(5deg);}
}

.megan{
	background:url(../images/meganGlobe.png);
	background-size:2*($globe-radius) 2*($globe-radius);
	-webkit-animation:fadeIn .5s;animation:fadeIn .5s;
	.radial{
		opacity:0;
		background-image:url(../images/meganTree.png);
		border:none;
        transition:all .5s;
	}

	$b: $group2Rad;
		
	@while $b <= 360 {
		.radial-#{$b} {
			-moz-transform: rotate($b+deg);
		    -ms-transform: rotate($b+deg); 
		    -webkit-transform: rotate($b+deg);
		    transform: rotate($b+deg);
		}
		$b: ($b + $group1Rad);
	}

	$c: $group3Rad;
		
	@while $c <= 360 {
		.radial-#{$c} {
			-moz-transform: rotate($c+deg);
		    -ms-transform: rotate($c+deg); 
		    -webkit-transform: rotate($c+deg);
		    transform: rotate($c+deg);
		}
		$c: ($c + $group3Rad);
	}

	.treeGroup{position:absolute;transform-origin: center center;width:$globe-containWidth;height:$globe-containWidth;}
	.group1{
		-webkit-animation:sway 5s infinite alternate;animation:sway 5s infinite alternate;
		.radial{
			-webkit-animation:grow .75s forwards, fadeIn .75s .5s forwards;animation:grow .75s forwards, fadeIn .75s .5s forwards;
		}
	}
	.group2{
		-webkit-animation:grow .75s forwards, fadeIn .75s .5s forwards;animation:grow .75s forwards, fadeIn .75s .5s forwards;
		.radial{ 
			//proportion desired for art - depends on art dimensions
			$radial-artW: .4*($globe-radius); 
			$radial-artH: .8*($globe-radius);
			// centering the divs over orb
			$radial-position: ($globe-containWidth - $radial-artW)/2;

			// size of artwork
			height:$radial-artH+$globe-radius;
			width:$radial-artW;
			// keeps artwork from overlapping circle
			background-size:$radial-artW $radial-artH;
			// Positions divs around globe - relative
			top:-$radial-artH;
			left: $radial-position;
			
			-webkit-animation:fadeIn .75s 1s forwards;animation:fadeIn .75s 1s forwards;
		}
	}
	.group3{
		-webkit-animation:sway 8s infinite alternate;animation:sway 8s infinite alternate;
		.radial{ 
			//proportion desired for art - depends on art dimensions
			$radial-artW: .3*($globe-radius); 
			$radial-artH: .5*($globe-radius);
			// centering the divs over orb
			$radial-position: ($globe-containWidth - $radial-artW)/2;

			// size of artwork
			height:$radial-artH+$globe-radius;
			width:$radial-artW;
			// keeps artwork from overlapping circle
			background-size:$radial-artW $radial-artH;
			// Positions divs around globe - relative
			top:-$radial-artH;
			left: $radial-position;
			
			-webkit-animation:fadeIn .75s 1.5s forwards;animation:fadeIn .75s 1.5s forwards;
		}
	}
}


