///////////////////////////
/* Basic Globe Functions */

$globe-radius: 100px; // orb radius
$globe-containWidth: 2*$globe-radius; // orb diameter

//proportion desired for art - depends on art dimensions
$radial-artW: .6*($globe-radius); 
$radial-artH: 1*($globe-radius);

// centering the divs over orb
$radial-position: ($globe-containWidth - $radial-artW)/2;

$group1Rad: 45;
$group2Rad: 30;
$group3Rad: 24;

.radial{ 
	// size of artwork
	height:$radial-artH+$globe-radius;
	width:$radial-artW;
	// keeps artwork from overlapping circle
	background-size:$radial-artW $radial-artH;
	background-repeat:no-repeat;
	// Positions divs around globe - relative
	top:-$radial-artH;
	left: $radial-position;
	-webkit-transform-origin:50% bottom;-ms-transform-origin:50% bottom;transform-origin:50% bottom;
	box-sizing:border-box;
	// basic positioning within container
	display:block;
	position:absolute;
}

.globe-contain{
	// size of globe
	height:$globe-containWidth;
	width:$globe-containWidth;
	
	// sets the shape and color
	border-radius:50%;
	background:#ccc;

	// position on the page
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-$globe-containWidth/2;
	margin-top:-$globe-containWidth/2;
}

	$a: $group1Rad;
		
	@while $a <= 360 {
		.radial-#{$a} {
			-moz-transform: rotate($a+deg);
		    -ms-transform: rotate($a+deg); 
		    -webkit-transform: rotate($a+deg);
		    transform: rotate($a+deg);
		}
		$a: ($a + $group1Rad);
	}

///////////////////////////
/*   Megan Functions    */

.btcf:after {
    content:"";
    display:table;
    clear:both;
}

@-webkit-keyframes grow {
	0%{margin-top:2*($radial-artH);background-size:0 0;height:0;}
	100%{margin-top:0;background-size:$radial-artW $radial-artH;height:2*($radial-artH);}
}
@keyframes grow {
	0%{margin-top:2*($radial-artH);background-size:0 0;height:0;}
	100%{margin-top:0;background-size:$radial-artW $radial-artH;height:2*($radial-artH);}
}
@-webkit-keyframes fadeIn {
	0%{opacity:0;filter:alpha(opacity=0);}
	100%{opacity:1;filter:alpha(opacity=100);}
}	
@keyframes fadeIn {
	0%{opacity:0;filter:alpha(opacity=0);}
	100%{opacity:1;filter:alpha(opacity=100);}
}
@-webkit-keyframes sway {
	100%{-webkit-transform:rotate(5deg);transform:rotate(5deg);}
}
@keyframes sway {
	100%{-webkit-transform:rotate(5deg);transform:rotate(5deg);}
}
@-webkit-keyframes swayGlobe {
	0%{-webkit-transform:rotate(15deg);transform:rotate(15deg);}
	100%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
}
@keyframes swayGlobe {
	0%{-webkit-transform:rotate(15deg);transform:rotate(15deg);}
	100%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
}
@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}


// Clouds borrowed from
// http://thecodeplayer.com/walkthrough/pure-css3-animated-clouds-background

/*Cloud Shape*/
.cloud {
	width: 200px; height: 60px;
	background: #fff;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	position: relative; 
	z-index:1;
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

.cloud1 {
	top:20%;
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}
.cloud2 {
	left: 200px;
	top:25%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; 

	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}
.cloud3 {
	top:30%;
	left: -250px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; 
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}


.megan-example{
	position:relative;
	overflow:hidden;
	width:5*$globe-radius;
	height:5*$globe-radius;
	margin:0 auto;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#75C3FF+0,ffffff+98 */
	background: #75C3FF; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #75C3FF 0%, #ffffff 50%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#75C3FF), color-stop(50%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #75C3FF 0%,#ffffff 50%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #75C3FF 0%,#ffffff 50%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #75C3FF 0%,#ffffff 50%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #75C3FF 0%,#ffffff 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75C3FF', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.megan{
	background:url(../images/meganGlobe.png);
	box-shadow:-2px -2px 0 #E2F2FF;
	background-size:2*($globe-radius) 2*($globe-radius);
	-webkit-animation:fadeIn .5s, swayGlobe 10s infinite alternate;animation:fadeIn .5s, swayGlobe 10s infinite alternate;
	z-index:2;
	.radial{
		opacity:0;
		border:none;
        transition:all .5s;
	}

	$b: $group2Rad;
		
	@while $b <= 360 {
		.radial-#{$b} {
			-moz-transform: rotate($b+deg);
		    -ms-transform: rotate($b+deg); 
		    -webkit-transform: rotate($b+deg);
		    transform: rotate($b+deg);
		}
		$b: ($b + $group1Rad);
	}

	$c: $group3Rad;
		
	@while $c <= 360 {
		.radial-#{$c} {
			-moz-transform: rotate($c+deg);
		    -ms-transform: rotate($c+deg); 
		    -webkit-transform: rotate($c+deg);
		    transform: rotate($c+deg);
		}
		$c: ($c + $group3Rad);
	}

	.treeGroup{position:absolute;transform-origin: center center;width:$globe-containWidth;height:$globe-containWidth;}
	.group1{
		-webkit-animation:sway 3s infinite alternate;animation:sway 3s infinite alternate;
		.radial{
			background-image:url(../images/meganTree1.svg);
			-webkit-animation:grow .75s forwards, fadeIn .75s .5s forwards;animation:grow .75s forwards, fadeIn .75s .5s forwards;
		}
	}
	.group2{
		-webkit-animation:grow .75s forwards, fadeIn .75s .5s forwards;animation:grow .75s forwards, fadeIn .75s .5s forwards;
		.radial{ 
			background-image:url(../images/meganTree2.svg);
			//proportion desired for art - depends on art dimensions
			$radial-artW: .4*($globe-radius); 
			$radial-artH: .8*($globe-radius);
			// centering the divs over orb
			$radial-position: ($globe-containWidth - $radial-artW)/2;

			// size of artwork
			height:$radial-artH+$globe-radius;
			width:$radial-artW;
			// keeps artwork from overlapping circle
			background-size:$radial-artW $radial-artH;
			// Positions divs around globe - relative
			top:-$radial-artH;
			left: $radial-position;
			
			-webkit-animation:fadeIn .75s 1s forwards;animation:fadeIn .75s 1s forwards;
		}
	}
	.group3{
		-webkit-animation:sway 8s infinite alternate;animation:sway 8s infinite alternate;
		.radial{ 
			background-image:url(../images/meganTree3.svg);
			//proportion desired for art - depends on art dimensions
			$radial-artW: .3*($globe-radius); 
			$radial-artH: .5*($globe-radius);
			// centering the divs over orb
			$radial-position: ($globe-containWidth - $radial-artW)/2;

			// size of artwork
			height:$radial-artH+$globe-radius;
			width:$radial-artW;
			// keeps artwork from overlapping circle
			background-size:$radial-artW $radial-artH;
			// Positions divs around globe - relative
			top:-$radial-artH;
			left: $radial-position;
			
			-webkit-animation:fadeIn .75s 1.5s forwards;animation:fadeIn .75s 1.5s forwards;
		}
	}
}


